langchain
langchain-core
langchain-community

langchain_deepseek

transformers
python-dotenv

tiktoken

faiss-cpu
chromadb

pypdf
unstructured
beautifulsoup4
lxml

requests
httpx

pydantic
streamlit

chardet
langchain_chroma

langchain_tavily

bs4